mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  background-color: #2f4f2c;
  color: white;
  img {
    margin-right: 15px;
  }
  span {
    overflow: auto;
  }
}
.default-header-image {
  background-image: url("../assets/ind.svg");
  background-size: cover;
}

.pev-header-image {
  background-image: url("../assets/LogoPev.svg");
  background-size: cover;
}

.card {
  margin: 10px;
}

.lista {
  margin-top: 10px;
}

.moreInfo {
  text-align: center;
}
h2 {
  margin-left: 10px;
}
