<mat-toolbar>
  <img src="../assets/iconoPev.svg" width="60">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Autoridades Ecologistas e Independientes en Cargos de Representación Popular</span>
  <!-- <span fxFlex></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
<div id="mainContent">


  <mat-grid-list [cols]="breakpoint" [rowHeight]="rowHeight" (window:resize)="onResize($event)" class="lista">
    <mat-grid-tile *ngFor="let auth of auths" fxLayoutWrap>
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar [ngClass]="auth.PEV === 'PEV' ? 'pev-header-image' : 'default-header-image'">
          </div>
          <mat-card-title>{{auth.NOMBRE}}</mat-card-title>
          <mat-card-subtitle>{{auth.REGION}} - {{auth.COMUNA}} </mat-card-subtitle>
          <span fxFlex></span>
          <mat-icon *ngIf="auth.MAYORIA" matTooltip="Primera Mayoria">star</mat-icon>
        </mat-card-header>


        <img *ngIf="auth.PEV === 'PEV'; else indLogo" mat-card-image src="../assets/fondo_sin_foto_pev.png"
          loading="lazy">
        <ng-template #indLogo>
          <img mat-card-image src="../assets/fondo_sin_foto_ind.png" loading="lazy">
        </ng-template>

        <mat-card-content>
          <!-- <p class="moreInfo">
            <span>
              <mat-icon>phone</mat-icon>
            </span>
            <span> +56 </span>{{auth.CELULAR}}
          </p> -->
          <p class="moreInfo">
            <span>
              <mat-icon>mail</mat-icon>
            </span>
            <span>
              {{auth.CORREO}}
            </span>
          </p>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>


</div>
